body {
    padding: 0px 20px 0px 20px;
	background-color: orange;
    font-size: 175%;
	font-family: sans-serif;
}

.cls_text_align_center {
    text-align: center;
}

p {
    padding: 0px 20px 0px 20px;
}

li {
    padding-bottom: 15px;
}

