
/*  for narrow devices up to 420 pixel width    */
@media only screen and (max-width: 420px) {
        /*
            li {width: 48%;}
            li:nth-of-type(1) {width: 96%;}

            li:nth-of-type(1) {flex-grow: 2;}
        */

    li {flex-basis: 48%;}
    li:nth-of-type(1) {flex-basis: 96%;}
}

/*  for smartphone/tablet devices up to 720 pixel width    */
@media only screen and (min-width: 421px) and (max-width: 720px) {
        /*
            li {width: 31%;}
            li:nth-of-type(1) {width: 46%;}
            li:nth-of-type(2) {width: 46%;}

            li {flex-basis: 31%;}
            li:nth-of-type(1) {flex-grow: 1.5;}
            li:nth-of-type(2) {flex-grow: 1.5;}
        */

    li {flex-basis: 31%;}
    li:nth-of-type(1) {flex-basis: 48%;}
    li:nth-of-type(2) {flex-basis: 48%;}
}

/*  for pc's and devices with more than 720 pixel width    */
@media only screen and (min-width: 721px) {
        /*
            li {width: 23%;}
            li:nth-of-type(1) {width: 46%;}

            li {flex-basis: 23%;}
            li:nth-of-type(1) {flex-grow: 2;}
        */

    li:nth-of-type(1) {flex-basis: 48%;}
}

body {
    background-color: linen;
    font-family: sans-serif;
}

/*  remove page headers for beautyfication    */
h1,h2 {
    display: none;
}

/*  flex container      display flex and lines that wrap    */
ul {
    font-size: 140%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

/*  the flex item       is a list item, so remove the dot    */
li {
    list-style: none;
    background-color: navajowhite;
    margin: 6px 9px;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 16px;
    flex: 1 1 23%;
    text-align: center;
}

/*  the product image   resize it so it fits parent container    */
img {
    /*  odd-number pictures lack background transparency
        (for uniform look): set background color to white    */
    background-color: white;
    width: 97%;
    border-radius: 16px;
}

/*  product description     reset text alignment    */
p {
    text-align: left;
}
